.header{
    margin-top: 50px;
}

.header .container{
    width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}
.nav{
    display: flex;
}

.li{
    list-style: none;
    text-decoration: none;
}